
<h1>Sabor Fusión</h1>

<img width='180' [src]="img" />  <!-- cuando quiero agregar propiedades que se controlan desde el component se hace encerrando con []// -->

<h2>{{ 'Paola'.repeat(5) }}</h2> <!--puedo interponer variables del componet.ts directamente -->
  <p>3 + 3 = {{ 3 + 3 }}</p>

<h3>Hola soy {{ name }} y tengo {{ age }} años.</h3>

  <button [disabled]="btnDisabled">Ingresar</button>
  <button (click)="toggleButton()">Toggle Button</button>

<input type="text" [value]='person.name'/> <!--los input tiene sus propios particularidades-->
  <progress max='100' [value]='person.age'></progress>

<img width='90' [src]="person.avatar" />

  <button [disabled]="btnDisabled">Enviar</button>
  <button (click)="toggleButton()">Toggle Button</button> <!--los eventos se encierran en () ej: click es un escucha que se maneja desde el componente-->

  <p>Edad {{ person.age }}</p>

  <button (click)="increaseAge()">Age ++</button>

<div class="box" (scroll)="onScroll($event)"> <!--los div son html, lo eventos de html se traen con ($event)-->
    <p>Un texto es una composición de signos codificados en un sistema de escritura que forma una unidad de sentido.</p>
</div>

<input type="text" [value]='person.name' (keyup)="changeName($event)"/> <!--el evento keyup es para capturar cada vez que escribimos en el input-->
  <hr/>

<input type="text" required #nameinput [(ngModel)]='person.name'/> <!--la sintaxis de NgModel es [{}] esto quiere decir que se las propiedades encierra los eventos-->
