<div>
  <h2>Algunos Héroes relevantes</h2>
  <div class="heroes-grid">
    <div *ngFor="let hero of heroes" class="hero-card">
      <div class="hero-info">
        <img [src]="hero.photo" alt="foto" class="hero-photo">
        <h2>{{ hero.name }}</h2>
        <p class="hero-age">{{ hero.age }}</p>
        <p class="hero-history">{{ hero.history }}</p>
      </div>
    </div>
  </div>

  <div class="add-hero-form">
    <h2>Ahora, ¿qué científicos conoces?</h2>
    <input type="text" required [(ngModel)]="newHeroe.name" placeholder="Nombre">
    <input type="text" required [(ngModel)]="newHeroe.age" placeholder="Edad">
    <input type="text" required [(ngModel)]="newHeroe.history" placeholder="Historia">
    <input type="text" required [(ngModel)]="newHeroe.photo" placeholder="URL de la foto">
    <button type="button" (click)="agregarHeroe()">Agregar</button>
  </div>

  <ul class="heroes-list">
    <li *ngIf="heroes.length === 0">No hay héroes disponibles 🤔</li>
    <li *ngFor="let hero of heroes; let i = index" class="hero-list-item">
      {{ i + 1 }}. {{ hero.name }}
      <button type="button" (click)="eliminarHeroe(i)">Eliminar</button>
    </li>
  </ul>
</div>
